@using System.Security.Claims

<h1>Welcome to Pierre's Sweets!</h1>
<button class="btn btn-outline-danger">@Html.ActionLink("Register", "Register", "Account")</button>
<button class="btn btn-outline-danger">@Html.ActionLink("Log in", "Login", "Account")</button>

<!-- List of treats and flavors -->